@font-face {
    font-family: "Merriweather";
    src: url("../font/Merriweather-Black-supermin.woff2");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url("../font/Merriweather-Bold-supermin\ \(1\).woff2");
    font-weight: 700;
    font-display: swap;
}